<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="details">
  <p>Employee ID : {{empId}}</p>
  <p>Name : {{empName}}</p>
  <p>Email : {{empEmail}}</p>
  <p>Mobile No : {{empMobile}}</p>
  <p class="left">Date of Join: {{empDoj}}</p>
  <p class="leftz">Department : {{empDept}}</p>
  <p id="center" class="alert alert-success">Available Leave Balance : {{empLeaveBalance}}</p> 
</div>